@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, GowunBatang, sans-serif;
  line-height: 2;
}

@font-face {
  font-family: 'GowunBatang';
  font-weight: 400;
  font-style: normal;
  src: url('/fonts/GowunBatang-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'GowunBatang';
  font-weight: 700;
  font-style: Bold;
  src: url('/fonts/GowunBatang-Bold.ttf') format('truetype');
}

code {
  counter-reset: line;
}

code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  margin-right: 1rem;
  color: grey;
}

code[data-theme*=' '],
code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
}

@media (prefers-color-scheme: dark) {
  code[data-theme*=' '],
  code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

.prose h3 {
  margin-top: 20px;
}

.prose p {
  margin: 7px 0;
  font-size: 15px;
}

.prose img {
  margin: 20px 0;
}

html {
  scroll-behavior: smooth;
  min-weight: 1300px;
}

.active {
  font-size: 16px;
  color: black;
}

@media only screen and (max-width: 1350px) {
  .Toc {
    display: none;
  }
}
