@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: -apple-system, GowunBatang, sans-serif;
  line-height: 2;
}

@font-face {
  font-family: "GowunBatang";
  font-weight: 400;
  font-style: normal;
  src: url("/fonts/GowunBatang-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "GowunBatang";
  font-weight: 700;
  font-style: Bold;
  src: url("/fonts/GowunBatang-Bold.ttf") format("truetype");
}
